<!--
██╗  ██╗███████╗██╗     ██╗      ██████╗     ██╗    ██╗ ██████╗ ██████╗ ██╗     ██████╗
██║  ██║██╔════╝██║     ██║     ██╔═══██╗    ██║    ██║██╔═══██╗██╔══██╗██║     ██╔══██╗
███████║█████╗  ██║     ██║     ██║   ██║    ██║ █╗ ██║██║   ██║██████╔╝██║     ██║  ██║
██╔══██║██╔══╝  ██║     ██║     ██║   ██║    ██║███╗██║██║   ██║██╔══██╗██║     ██║  ██║
██║  ██║███████╗███████╗███████╗╚██████╔╝    ╚███╔███╔╝╚██████╔╝██║  ██║███████╗██████╔╝
╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝ ╚═════╝      ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═════╝

Greetings !

if (employer) {
  yes, I'm always looking for great opportunities;
}
else if (want a website) {
  ping me ! lets discuss how will I help you;
}
else if (geek) {
  hi, I love to be friends with like minded people.
  Message me, maybe we could help each other.
}
else {
  goto: tauheedshahid.in/404
}
________________________________________________________________________________________

When I wrote this code, only God and I understood what I was doing
Now, God only knows

If you don't like anything on this website, bite me !
________________________________________________________________________________________

No copyright issues.
Feel free to copy anything and everything from this website.
If you need any help, ping me !
________________________________________________________________________________________

Cheers,
Tauheed Shahid
mailto: tauheedshahid@gmail.com
________________________________________________________________________________________

I sincerely admit ! Not everything thing you saw on the website was developed by me from
scratch, most of it is my original creation otherwise some of the elements are inspired
or reproduced from the open source public code.

SSSssshhhhh!! The code starts below -->


<!DOCTYPE html>
<html lang="en">

<head>

  <!-- For SEO meta tags -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Tauheed Shahid</title>

  <!-- Bootstrap and Fonts stylesheet -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">


  <!-- Progress Bar Dependencies -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  

  <!-- Local Stylesheet and website icon image -->

  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="icon" href="images/mypic.jpeg">
  <link rel="stylesheet" href="CSS/style.css">
</head>

<!-- <body onload="myFunc()"> -->
<body>

<!-- <div class="loader_bg">
  <div class="loader"></div>
</div> -->

  <!-- =========== Navbar ===========-->

  <nav class="navbar navbar-expand-lg bg-info navbar-light" id="navig">

    <a class="navbar-brand font-weight-bold text-uppercase" style="color: white;" href="#">Tauheed Shahid</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <ul class="navbar-nav text-uppercase mx-auto text-center">
        <li class="nav-item active">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#sect2">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sect3">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sect4">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sect6">Certificates</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="http://blogs.tauheedshahid.in">Blogs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#sect5">Contact</a>
        </li>
      </ul>

      <!-- <div class="icon">
        <a target="_blank" title="Facebook" href="https://www.facebook.com/tauheed.shahid.1"><i
            class="fa fa-2x fa-facebook-square"></i></a>
        <a target="_blank" title="Instagram" href="https://www.instagram.com/thacker__shahid/"><i
            class="fa fa-2x fa-instagram"></i></a>
        <a target="_blank" title="Linkedin" href="https://www.linkedin.com/in/thacker-shahid"><i
            class="fa fa-2x fa-linkedin"></i></a>
        <a target="_blank" title="Github" href="https://github.com/thacker-shahid"><i
            class="fa fa-2x fa-github"></i></a>
        <a target="_blank" title="YouTube" href="https://www.youtube.com/channel/UCVggVzkM03rNe757iHtmAUA"><i
            class="fa fa-2x fa-youtube"></i></a>
      </div> -->

    </div>
  </nav>